h1 {
	text-align: center;
}
button#play {
	box-sizing: border-box;
}
div.lb-container {
	box-sizing: border-box;
	float: left;
}
.hide {
	display: none;
}
ul.lb li {
	list-style-type: none;
}
ul.lb {
	padding-inline-start: 0px;
	padding-bottom: 400px;
}
.grid-container {
	box-sizing: border-box;
}
.grid-item {
	margin: 1%;
	width: 20%;
	height: 30%;
	padding: 20px;
	float: left;
	border-style: solid;
}
.grid-item:hover {
	cursor: pointer;
}
.close:hover {
	cursor: pointer;
}
.highlight {
	background-color: rgba(5, 223, 187, 1);
}
.comp-highlight {
	background-color: red;
}
.instruction {
	box-sizing: border-box;
	float: right;
}
#t-highlight {
	background-color: rgba(5, 223, 187, 1);
}
.modal {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 251, 1, 0.75);
}
.modal-content {
	position: absolute;
	width: 50%;
	height: 43.9%;
	top: 89px;
	left: 25%;
	border: solid;
	border-color: black;
	z-index: 1;
	background-color: rgb(0, 255, 85);
	animation: modal 1.5s linear forwards;
}

@keyframes modal {
	from {
		transform: rotate(0deg) translateX(180px) rotate(0deg);
	}
	to {
		transform: rotate(360deg) translateX(50px) rotate(-360deg);
	}
}
